extends layout

block content
	//- if (!user)
	//- //- 	a(href="/login") Login
	//- //- 	br
	//- //- 	a(Href="/register") Register
	if (user)
		//- allow user to create poll
		//- h4 You are currently logged in as #{user.username}
	.container.jumbotron.well
		//- h1 Listing of Polls
		if poll != null
			#pollToRender(hidden) #{poll}
		#pollListing
			//- for poll,pollNum in polls
			//- 	.poll.well(id='poll_' + pollNum)
			//- 		p Poll Author: #{poll.author}
			//- 		p Poll Question: #{poll.question}
			//- 			- if (poll.answer_options && poll.answer_options != null)
			//- 				ul
			//- 					for answer_option, answerOptionNum in poll.answer_options

			//- 						li.poll_answer_option(id='answer_option_' + answerOptionNum) #{answer_option}
