extends layout

block content
	//- if (!user)
	//- //- 	a(href="/login") Login
	//- //- 	br
	//- //- 	a(Href="/register") Register
	if (user)
		//- h4 You are currently logged in as #{user.username}
	.container.jumbotron.well
		h1 Listing of Votes
		#voteListing
			for vote,voteNum in votes
				.vote.well(id='vote_' + voteNum)
					p Vote Owner: #{vote.owner}
					p Vote Poll ID: #{vote.poll}
					p Vote Answer Option: #{vote.answer_option}
					p Vote IP Address: #{vote.ip_address}
						//- - if (vote.answer_options && vote.answer_options != null)
						//- 	ul
						//- 		for answer_option, answerOptionNum in vote.answer_options

						//- 			li.vote_answer_option(id='answer_option_' + answerOptionNum) #{answer_option}
